.mySwiper2-slide {
  
  /* Center slide text vertically */
  display: flex;
}

.mySwiper2-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.mySwiper2 {
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.mySwiper2-slide {
  background-size: cover;
  background-position: center;
}


.mySwiper3 {
  height: 20%;
  box-sizing: border-box;
  padding: 10px ;


}

.mySwiper3 .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;

}


.mySwiper3-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mySwiper3 .swiper-slide-thumb-active {
  opacity: 1;
}

.mySwiper3-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}