

.mySwiperPrincipal {
  width: 100%;
}

.mySwiperPrincipal-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.myImagen {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}
